@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

.form-title {
  padding: 20px 40px 10px;
}

.findInfo-form {
  padding: 10px 40px 0px;
}

.findInfo-form label {
  margin: 20px 20px 0;
  font-weight: bold;
  font-size: 13px;
  color: #0095f6;
  display: inline-block;
  cursor: pointer;
}

.findId > input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 100%;
  margin: 8px 0;
  padding: 10px 0;
}

.findPwd > input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 100%;
  margin: 8px 0;
  padding: 10px 0;
}

.find__input:active,
.find__input:focus,
.find__input:hover {
  outline: none;
  border-bottom-width: 2px;
  border-bottom-color: #6a679e;
}

.submit_btn {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4c489d;
  box-shadow: 0px 5px 5px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}
.submit_btn:hover,
.submit_btn:focus,
.submit_btn:active {
  opacity: 1;
  border-color: #6a679e;
  background-color: #eceafe;
  box-shadow: 0px 1px 1px #5c5696;
  outline: none;
  cursor: pointer;
  transform: translateY(5%);
}
