@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* 공통 부분 */
.myPageContainer {
  font-family: 'Gowun Dodum', sans-serif;
  width: 1024px;
  margin: auto;
  padding: 0;
  text-decoration: none;
  
}

/* 미디어쿼리 적용 */
@media (max-width: 1024px) {
  .myPageContainer {
    width: 100%;
  }
}

.subTitle {
  margin: 50px 0 30px 12px;
}

.mp-nv-link {
  color: black;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mp-nv-link:hover, mp-nv-link.hover  {
  background-color: rgba(190, 100, 255, 0.5);
  color:white;
  transition: 0.3s ease-in-out ;
}

.deleteButtonBox{
  display: inline-block;
}

.titleBox{
  display: inline-block;
  margin: 0, 5px;
}

.deleteButton {
  font-size: 0.8em;
  border: 0;
  border-radius: 3px;
  margin: 0 5px;
}

.deleteButton:hover {
  color: white;
  font-weight: bold;
  background-color: rgba(190, 100, 255, 0.5);
}

/* 작성글 페이지 */
.myPageTable {
  width: 100%;
  font-size: 1em;
}

.myPageTableTr, .ms-td-2, .ms-td-3 {
  text-align: center;
}

.ms-th-1 {
  width: 70%;
}

.deleteButton, .mySocialTitle, .mySocialCommNum{
  display: inline-block;
}

.mySocialCommNum {
  color: rgb(220, 105, 252);
}
/* .ms-td-1 {
  overflow: hidden;
  white-space: nowrap;
} */

.ms-td-1:hover {
  font-weight: bold;
}

.ms-th-3 {
  width: 50px;
}

/* 댓글 작성 페이지 */
.msc-td:hover {
  font-weight: bold;
}

.commnetContent {
  color: black;
}

.commnetCreate{
  color: grey;
}

/* 캘린더 페이지 */

.calendarIcon {
  width: 50px;
}

/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
  color: rgba(255, 0, 0, 0.548);
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: rgba(0, 0, 255, 0.537);
}

.calCreateButtonBox {
  width: 100%;
  display: flex;
  justify-content : right;
  padding: 0;
}

.calendarBox {
  display: block;
  width: 100%
}

#calCreateButton{
  height: 40px;
  border: 1px solid white !important;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border: 0;
  border-radius: 3px;
  color: white;
  background-color: rgb(190, 100, 255, 0.5);
}

#calCreateButton:hover {
  color: white;
  background-color: rgba(155, 33, 242, 0.568);
}

.fc-event-main {
  background-color: rgba(208, 146, 253, 0.687);
}

.fc-header-toolbar {
  margin-left: 18px;
}

/* 작성댓글 페이지 */
.commnetContent, .commnetPostDate {
  display: inline-block;
  margin-right: 10px;
}
.commnetPostDate {
  color: gray;
}