.profile_container {
  aspect-ratio: 1/1;
  width: min(300px, 90%);
  position: relative;
  text-align: center;
}

.profile-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 24px #5c5696;
  border-radius: 50%;
}
.profile {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png);
  background-size: 100%;
  background-position: center;
  transition: all 0.2s ease-in-out;
  position: absolute;
}
.profile:hover {
  background-size: 110%;
}

.user_container {
  display: flex;
}

.todays_info {
  text-align: center;
}

.todays_quote {
  color: #6c63ac;
}
